@{
    Layout = "";
}
@model ScientificReportData.Models.ReportViewModel

<style>
    ul {
        counter-reset: item
    }

    li {
        display: block
    }

        li:before {
            content: counters(item, ".") " ";
            counter-increment: item
        }

    table {
        width: 95%;
        border-collapse: collapse;
    }

    li, p {
        padding-bottom: 5px;
    }

    p {
        padding: 0;
        padding-bottom: 5px;
    }

    tr {
        width: 30%;
    }

    td {
        padding-left: 5px;
    }

    table, th, td {
        border: 1px solid black;
    }

    .report-block {
        width: 90%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="center report-block" style="  font-size:18px;
        font-family:'Times New Roman';">
    <h3 class="center" style="text-align:center; text-decoration:underline; width:60%;">
        Індивідуальний звіт про наукову роботу у       2019       році
        доцент каф. програмування  UsersName
    </h3>
    <br />
    <div class="report-block">
        <b>Відомості про вченого: @Model.User.Name </b><br />
        Рік народження : @Model.User.Birthdate.ToShortDateString()<br />
        Рік закінчення ВНЗ @Model.User.GraduationDate.ToShortDateString() :<br />
        Науковий ступінь, рік захисту @Model.User.DegreeLevel, @Model.User.DegreeDate.ToShortDateString() :<br />
        Вчене звання, рік присвоєння: @Model.User.Title, @Model.User.TitleDate.ToShortDateString() <br />
    </div>
    <ul style="list-style: none;">
        <li>
            Участь у науково-дослідній тематиці підрозділу
            @if (Model.DepartmentWorks.Count != 0)
            {
                foreach (var dep in Model.DepartmentWorks)
                {
                    <ul style="list-style: none;">
                        <li>
                            Шифр:  @dep.Topic
                        </li>
                        <li>
                            Тема: @dep.Intro
                        </li>
                        <li>
                            Категорія: @dep.Category
                        </li>
                        <li>
                            Опис
                            @dep.Content
                        </li>
                        <li>
                            Автори: @dep.Authors.Select(a => a.Name).Aggregate((a, b) => a + ",  " + b)
                        </li>
                    </ul>
                    <hr />
                }
            }
        </li>
        <li>
            Участь у виконанні індивідуальних або колективних ґрантів (окрім ґрантів на поїздки) − згідно з додатком 3.
            @if (Model.Grants.Count != 0)
            {
                foreach (var gra in Model.Grants)
                {
                    <ul style="list-style: none;">
                        <li>
                            Назва гранту: @gra.Name
                        </li>
                        <li>
                            Опис
                            @gra.Description
                        </li>
                        <li>
                            Учасники: @gra.Participants.Select(a => a.Name).Aggregate((a, b) => a + ",  " + b)
                        </li>
                    </ul>
                    <hr />

                }
            }
        </li>
        <li>
            Наукові стажування.
            @if (Model.RepItems.Count != 0)
            {
                var stags = Model.RepItems.Where(r => r.Type == "Науковістажування")?.ToList();
                if (stags.Count != 0)
                {
                    foreach (var gra in stags)
                    {
                        <ul style="list-style: none;">
                            <li>
                                @gra.Content
                            </li>
                        </ul>
                        <hr />

                    }
                }
            }
        </li>
        <li>
            Наукове керівництво аспірантами, здобувачами, наукове консультування при написанні докторських дисертацій.
            @if (Model.RepItems.Count != 0)
            {
                var stags = Model.RepItems.Where(r => r.Type == "Науковекерівництво")?.ToList();
                if (stags.Count != 0)
                {
                    foreach (var gra in stags)
                    {
                        <ul style="list-style: none;">
                            <li>
                                @gra.Content
                            </li>
                        </ul>
                        <hr />

                    }
                }
            }
        </li>
        <li>
            Керівництво студентською науковою роботою, спільні публікації, керівництво студентськими гуртками,
            підготовка студентів для участі у Всеукраїнських конкурсах студентських наукових робіт тощо.
            @if (Model.RepItems.Count != 0)
            {
                var stags = Model.RepItems.Where(r => r.Type == "Керівництвостудентською")?.ToList();
                if (stags.Count != 0)
                {
                    foreach (var gra in stags)
                    {
                        <ul style="list-style: none;">
                            <li>
                                @gra.Content
                            </li>
                        </ul>
                        <hr />

                    }
                }
            }
        </li>

        <li>
            Наукові публікації
            <ul style="list-style: none;">
                @if (Model.Publications.Count != 0)
                {
                    foreach (var pub in Model.Publications)
                    {


                        <li>
                            @pub.Topic
                        </li>
                        <li>
                            @pub.Type
                        </li>
                        <li>
                            @pub.Status
                        </li>
                        <li>
                            @pub.Date.ToShortDateString()
                        </li>
                        <li>
                            @pub.Authors.Select(a => a.Name).Aggregate((a, b) => a + ",  " + b)
                        </li>
                        <hr />

                    }

                }
            </ul>
        </li>
        <li>
            <div>
                <table style="border: 1px solid black;" class="center">
                    <tr>
                        <td>Загальна кількість наукових публікацій</td>
                        <td>Разом</td>
                        <td>За звітний період</td>
                    </tr>
                    <tr>
                        <td>Монографії</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Монографії").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Монографії").Year</td>
                    </tr>
                    <tr>
                        <td>Підручники </td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Підручники").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Підручники").Year</td>
                    </tr>
                    <tr>
                        <td>Навчальні посібники</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Навчальні посібники").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Навчальні посібники").Year</td>
                    </tr>
                    <tr>
                        <td>Статті</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Статті").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Статті").Year</td>
                    </tr>
                    <tr>
                        <td>Інші наукові видання</td>
                        <td> @Model.PubSummary.FirstOrDefault(p => p.PubName == "Інші наукові видання").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Інші наукові видання").Year</td>
                    </tr>
                    <tr>
                        <td>Тези доповідей на конференціях</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Тези доповідей на конференціях").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Тези доповідей на конференціях").Year</td>
                    </tr>
                    <tr>
                        <td>Патенти</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Патенти").Total</td>
                        <td>@Model.PubSummary.FirstOrDefault(p => p.PubName == "Патенти").Year</td>
                    </tr>
                </table>
                <ul>
                    <li>
                        Праці, що вийшли з друку (бібліографічний опис згідно з державним стандартом):
                        <ul>
                            <li>Монографії</li>
                            <li>Підручники</li>
                            <li>Навчальні посібники</li>
                            <li>Інші наукові видання (словники, переклади наукових праць, науковий коментар, бібліографічний покажчик тощо)</li>
                            <li>
                                Статті
                                <ul>
                                    <li>Статті у виданнях, які мають імпакт-фактор</li>
                                    <li>Статті в інших виданнях, які включені до міжнародних наукометричних баз даних Web of Science, Scopus та інших</li>
                                    <li>Статті в інших закордонних виданнях</li>
                                    <li>Статті у фахових виданнях України</li>
                                    <li>Статті в інших виданнях України</li>
                                </ul>
                            </li>
                            <li>
                                Тези доповідей
                                <ul>
                                    <li>Тези доповідей на міжнародних конференціях</li>
                                    <li>Тези доповідей на вітчизняних конференціях</li>
                                </ul>
                            </li>
                            <li>Перелік міжнародних конференцій за кордоном, на яких представлено результати досліджень.</li>
                        </ul>
                    </li>
                    <li>
                        Праці, рекомендовані Вченою радою університету до друку
                        (автори, назва праці, обсяг, дата подачі):
                        <ul>
                            <li>Монографії</li>
                            <li>Підручники</li>
                            <li>Навчальні посібники</li>
                            <li>Інші наукові видання (словники, переклади наукових праць, науковий коментар, бібліографічний покажчик тощо)</li>
                            <li>Статті, прийняті до друку</li>
                        </ul>
                    </li>


                </ul>
            </div>
        </li>
        <li>
            Патентно-ліцензійна діяльність
            @if (Model.RepItems.Count != 0)
            {
                var stags = Model.RepItems.Where(r => r.Type == "Патентно-ліцензійнадіяльність")?.ToList();
                if (stags.Count != 0)
                {
                    foreach (var gra in stags)
                    {
                        <ul style="list-style: none;">
                            <li>
                                @gra.Content
                            </li>
                        </ul>
                        <hr />

                    }
                }
            }
        </li>
        <li>Рецензування та опонування дисертацій, відгуки на автореферати, експертні висновки
            @if (Model.RepItems.Count != 0)
            {
                var stags = Model.RepItems.Where(r => r.Type == "Рецензуваннята")?.ToList();
                if (stags.Count != 0)
                {
                    foreach (var gra in stags)
                    {
                        <ul style="list-style: none;">
                            <li>
                                @gra.Content
                            </li>
                        </ul>
                        <hr />

                    }
                }
            }
        </li>
        <li>Членство у спеціалізованих вчених, експертних радах, редколегіях наукових журналів тощо
            @if (Model.RepItems.Count != 0)
            {
                var stags = Model.RepItems.Where(r => r.Type == "Членствоу")?.ToList();
                if (stags.Count != 0)
                {
                    foreach (var gra in stags)
                    {
                        <ul style="list-style: none;">
                            <li>
                                @gra.Content
                            </li>
                        </ul>
                        <hr />

                    }
                }
            }
        </li>
        <li>Інше</li>
    </ul>

</div>