@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Conference
<div class="item-detailed">

    <div>
        <h2>@Model.Title</h2>
        <h5>@Model.Date.ToShortDateString().Split(' ')[0]</h5>
        <p class="description">@Model.Description</p>`
        <h4>Participants:</h4>
    </div>
    <div>
        <img src="@Model.ImgPath" alt="photo" class="img-detailed" />
        <div class="likes-watches">
            <div>

                <div>
                    <p class="text">Likes</p>
                    <img src="~/img/Conferences/icons/likes.png" alt="Likes" class="small-ico" />
                </div>
                <p>@Model.Likes</p>
            </div>
            <div>
                <div>
                    <p class="text">Watches</p>
                    <img src="~/img/Conferences/icons/watches.png" alt="Watches" class="small-ico" />
                </div>
                <p>@Model.Watches</p>
            </div>
        </div>
    </div>
</div>