@using ScientificReport.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@model ConferenceDetailsModel
<div class="item-detailed">

    <div style="width:100%; padding-right:20px;">
        <h2>@Model.ConferenceInfo.Title</h2>
        <h5>@Model.ConferenceInfo.Date.ToShortDateString().Split(' ')[0]</h5>
        <p class="description" >@Model.ConferenceInfo.Description</p>`
        <h4>Participants:</h4>
        <div style="overflow-y:auto; height:200px;margin-top:20px;">
            <ul class="list-group list-group-flush">
                @foreach (var i in Model.UserNames)
                {
                    <li class="list-group-item">@i</li>
                }
            </ul>
        </div>
    </div>
    <div>
        <img src="@Model.ConferenceInfo.ImgPath" alt="photo" class="img-detailed" />
        <div class="likes-watches">
            <div>

                <div>
                    <p class="text ">Likes</p>
                    <img src="~/img/Conferences/icons/likes.png" alt="Likes" class="small-ico " />
                </div>
                <p class="pl-1">@Model.ConferenceInfo.Likes</p>
            </div>
            <div>
                <div>
                    <p class="text">Watches</p>
                    <img src="~/img/Conferences/icons/watches.png" alt="Watches" class="small-ico" />
                </div>
                <p class="pl-1">@Model.ConferenceInfo.Watches</p>
            </div>
        </div>
        @if (Model.TakePart == false)
        {
            <a   asp-route-id="@Model.ConferenceInfo.Id"  asp-route-userId="@UserManager.GetUserId(User)"  asp-controller="Conferences" asp-action="AddToUserConference"  class="btn btn-success center">
                Взяти участь
            </a>
        }
        else
        {
            <a asp-route-id="@Model.ConferenceInfo.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-controller="Conferences" asp-action="DeleteUserFromConference" class="btn btn-danger center">
                Скасувати участь
            </a>
        }
    </div>
</div>
<div id="comments">
    
    <div class=" pt-3 ">
        <form method="POST" asp-route-id="@Model.ConferenceInfo.Id" asp-route-userId="@UserManager.GetUserId(User)"  asp-controller="Conferences" asp-action="AddComment">
            <label for="text">Ваш коментар</label>
            <input type="text" placeholder="Текст коментаря" name="commentTEXT" class="form-control" />
            <input type="submit" class="btn btn-success float-right mt-2 text-white">
        </form>        
    </div>
    
    <div id="allComments" class="pt-5">
        <h5 class="text-center">Коментарі</h5>
        @foreach (var i in Model.comments)
        {
            <div class="">
                <p><i>@i.UserName</i></p>
                <p>@i.text</p>
                <p>@i.date</p>
                <form method="POST" class="mb-3" asp-route-id="@Model.ConferenceInfo.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-controller="Conferences" asp-action="EditComment" asp-route-conf_id="@i.Id" style="display:none;">
                    <input type="text" placeholder="Текст коментаря" name="commentTEXT" class="form-control" />
                    <input type="submit" class="btn btn-success float-right mt-2 text-white" value="Зберегти">
                </form>
                <a class="btn btn-info text-white" onclick="ShowEdit(this)">Редагувати</a>
                <a class="btn btn-danger" asp-route-id="@Model.ConferenceInfo.Id" asp-route-userId="@UserManager.GetUserId(User)" asp-route-conf_id="@i.Id" asp-controller="Conferences" asp-action="DeleteComment">Видалити</a>
            </div>
        }
    </div>
</div>
<script>
    function ShowEdit(e) {
        if (e.parentNode.childNodes[7].style.display == 'none') {
            e.parentNode.childNodes[7].style.display = 'block';
            e.parentNode.childNodes[9].style.display = 'none';
        } else {
            e.parentNode.childNodes[7].style.display = 'none';
            e.parentNode.childNodes[9].style.display = 'block';
        }
    }
</script>